<%= form_for(@administrivium) do |f| %>
  <% if @administrivium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrivium.errors.count, "error") %> prohibited this administrivium from being saved:</h2>

      <ul>
      <% @administrivium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :num %><br>
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :media %><br>
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :reps %><br>
    <%= f.text_field :reps %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
