<div class="container-fluid">
  <div class="row">
      <div class="col-xs-2  sidebar">
        <ul class="nav nav-sidebar">
          <li class="<%= current_tab?('administrivia','index')%>">
            <a href="/">新闻列表</a>
          </li>
        </ul>
      </div> 
      <div class="col-xs-10  main">
          <h2 class="sub-header">从百度新闻网站爬取的数据</h2>
          <form class="form-inline search_form" action='/administrivia' method='get'>
            <div class="form-group">
              <input type="text" class="form-control" id="movie_name" placeholder="关键字" name='name' vlaue="<%=params[:name]%>">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="start_date" placeholder="开始时间" name='start_date' vlaue="<%=params[:start_date]%>">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="end_date" placeholder="结束时间" name='end_date' vlaue="<%=params[:end_date]%>">
            </div>

            <button type="submit" class="btn btn-default">查询</button>
          </form>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>关键字</th>
                  <th>标题</th>
                  <th>开始时间</th>  
                  <th>结束时间</th>                                                 
                  <th>抓取时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <% if @administrivia.length > 0 %>
                  <% @administrivia.each do |ns|%>
                    <tr>
                      <td><%= ns.keyword %></td>
                      <td><%= ns.title %></td>
                      <td><%= ns.start_date %></td>
                      <td><%= ns.end_date %></td>
                      <td><%= ns.created_at.strftime('%F')%></td>
                      <td>
                        <%= link_to '删除', ns, method: :delete,:class => 'btn btn-danger', data: { confirm: '确定要删除么?' } %>
                      </td>
                    </tr>                    
                  <% end %> 
                <% else %>
                  <tr>
                    <td colspan="8" align="center">还没有任何新闻</td>
                  </tr>                               
                <% end %>
              </tbody>
            </table>
            <div class="pull-right"><%= paginate @administrivia %></div>
          </div>
      </div>    
  </div>
</div> 





              