<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @administrivium.title %>
</p>

<p>
  <strong>Num:</strong>
  <%= @administrivium.num %>
</p>

<p>
  <strong>Media:</strong>
  <%= @administrivium.media %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @administrivium.reps %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @administrivium.summary %>
</p>

<%= link_to 'Edit', edit_administrivium_path(@administrivium) %> |
<%= link_to 'Back', administrivia_path %>
